.listing_footer {
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
}

.logo-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 3.125rem;
}

.filter-options-check {
    max-height: 130px;
    overflow: auto
}

.slider-root {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
    height: 32px;
}

.slider-track {
    background-color: #aaa;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 4px;
}

.slider-range {
    position: absolute;
    background-color: #00f;
    border-radius: 9999px;
    height: 100%;
}

.slider-thumb {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #042cd7;
}

.slider-thumb:hover {
    background-color: #042cd7;
}

.slider-thumb:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(208 208 208 / 20%);
}

.swiper {
    height: fit-content;
    width: 100%
}

.swiper .swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    width: fit-content !important;
    margin: 0 2px !important;
    height: unset !important;
}

.slide-card {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.slide-card > a:has(>img) {
    width: 100%;
    aspect-ratio: 4/3;
    display: block;
}

@media (width >= 960px) {
    .swiper-slide {
        margin: 0 4px !important;
    }

    .slide-card {
        width: 280px;
    }
}

.sidebar-filter {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.sidebar-filter:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
}

.sidebar-filter:first-of-type > .f-trigger-inner {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
}

.sidebar-filter:not(:first-of-type) {
    border-top: 0;
}

.sidebar-filter:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.sidebar-filter:last-of-type > .f-trigger-inner[data-state="closed"] {
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}

.sidebar-filter:last-of-type > .accordion-collapse {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.sidebar-filter .f-trigger {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x)
}

.sidebar-filter .f-trigger-inner {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    transition: var(--bs-accordion-transition);
}

.sidebar-filter .f-trigger-inner[data-state="closed"] {
    background-color: var(--bs-accordion-bg);

}

.sidebar-filter .f-trigger-inner[data-state="open"] {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.sidebar-filter .f-trigger-inner[data-state="open"]::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

.sidebar-filter .f-trigger-inner::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.sidebar-filter .f-content {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    overflow: hidden;
}

.sidebar-filter .f-content[data-state="open"] {
    animation: slide-down 150ms ease-in-out;
}

.sidebar-filter .f-content[data-state="closed"] {
    animation: slide-up 150ms ease-in-out;
}

@keyframes slide-down {
    0% {
        height: 0;
    }

    5% {
        scale: 0;
    }

    100% {
        height: var(--radix-collapsible-content-height);
        scale: 1;
    }
}

@keyframes slide-up {
    0% {
        scale: 1;
    }

    10% {
        height: var(--radix-collapsible-content-height);
    }

    100% {
        height: 0;
        scale: 0;
    }
}

.sidebar-filter .f-reset {
    all: unset;
    cursor: pointer;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    color: var(--bs-link-color);
}

.sidebar-filter .f-trigger[data-state="open"] .f-reset {
    color: var(--bs-primary-text-emphasis);
    text-decoration: var(--bs-link-decoration);
}

.tabs-root {
    padding: var(--bs-padd, 4px) 0;
}

.tabs-trigger {
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.tabs-trigger[data-state="active"] {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-primary);
    color: var(--bs-primary);
    cursor: none;
}